
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container{
    margin:50px;
    padding: 90px;
    margin-top: 40px;
}
.navbar{
    margin-right: 20px;
    padding-right: 20px;
    display: flex;
    gap: 30px;  
    padding-top:10px ;
}
a{
color: #53341F;
text-decoration: none;
font-size: 20px;
}
body{
    background-image:url(cof.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
.button{
   color: #573c2a;
   background-color: bisque;
   border:none;
   padding: 14px 28px;
   border-radius: 50px;
   display: flex;
   box-shadow: 0 4px 3cap ;
   margin-top: 50px;

}
.logo{
    font-size:25px;
    font-style: italic;
    color: #4b2e1e;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    
}
.content{
    margin-top: 20px;
    font-size: 20px;
}
h1{
    font-family: 'Comorant Garamond',serif;
    font-size: 60px;
    line-height: 85px;
    color:#3b1f12;
    letter-spacing: 1px;
    font-weight: lighter;

}
.cursive{
    font-family: 'Dancing Script',cursive;
    font-size: 70px;
    color:  #a06b45;
    font-weight: normal;
    margin-left: 10px;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#532d18; 
    padding: 10px;
}
p{
    margin-top:20px;
    margin-bottom: 20px;
    color:#532d18; 
    font-weight: 550px;
    
}
.right{
    display: flex;
    align-items: center;
    gap:20px
}
.btn{
    padding: 14px 28px;
    border-radius: 50px;
    color:#532d18;
    border:none;
    align-items: center;
    margin-left:900px ;
    font-size: 15px;
    box-shadow: 0 4px 3cap ;
    margin-top:0px ;
    display: flex;
    position: relative;
    top: -30px;
}
